canvas{
  margin: 1em auto;
  width: 100% !important;
  height: 100% !important;
}

#game-container{
  display: flex;
  margin-left: .5em;
  margin-right: 3em;
}

img{
  object-fit: cover;
}

footer{
  margin-top: 1000px;

}

body{


}
